$mainBg: #0A0A0A;
$mainWhite: #F2F3F7;
$mainRed: #FF636C;
$errorRed: #FF8787;
$violetGradient: linear-gradient(157deg, rgba(66, 46, 147, 0.23) 5.54%, rgba(42, 32, 147, 0.27) 85.34%);
$mainGradient: linear-gradient(91deg, #2B40FF -1.68%, #CD15FB 116.85%);




$defaultFontFamily: 'Ubuntu', 'sans-serif';
$secondaryFontFamily: 'Jura', 'sans-serif';

$w860: 860px;
$w600: 600px;

//for 1920px
$x2: 0.104vw;
$x3: 0.156vw;
$x4: 0.208vw;
$x5: 0.26vw;
$x6: 0.313vw;
$x7: 0.365vw;
$x8: 0.417vw;
$x9: 0.469vw;
$x10: 0.521vw;
$x12: 0.625vw;
$x14: 0.729vw;
$x15: 0.781vw;
$x16: 0.833vw;
$x18: 0.938vw;
$x19: 0.99vw;
$x20: 1.042vw;
$x21: 1.094vw;
$x22: 1.146vw;
$x23: 1.198vw;
$x24: 1.25vw;
$x25: 1.302vw;
$x26: 1.354vw;
$x27: 1.406vw;
$x28: 1.458vw;
$x30: 1.563vw;
$x32: 1.667vw;
$x34: 1.771vw;
$x36: 1.875vw;
$x37: 1.927vw;
$x38: 1.979vw;
$x40: 2.083vw;
$x42: 2.188vw;
$x44: 2.292vw;
$x45: 2.344vw;
$x46: 2.396vw;
$x48: 2.5vw;
$x49: 2.552vw;
$x50: 2.604vw;
$x52: 2.708vw;
$x53: 2.76vw;
$x54: 2.813vw;
$x56: 2.917vw;
$x58: 3.021vw;
$x60: 3.125vw;
$x61: 3.177vw;
$x62: 3.229vw;
$x64: 3.333vw;
$x67: 3.49vw;
$x70: 3.646vw;
$x72: 3.75vw;
$x74: 3.854vw;
$x76: 3.958vw;
$x78: 4.063vw;
$x80: 4.167vw;
$x82: 4.271vw;
$x85: 4.427vw;
$x86: 4.479vw;
$x88: 4.583vw;
$x92: 4.792vw;
$x95: 4.948vw;
$x96: 5vw;
$x98: 5.104vw;
$x100: 5.208vw;
$x102: 5.313vw;
$x104: 5.417vw;
$x106: 5.417vw;
$x108: 5.625vw;
$x112: 5.833vw;
$x123: 6.406vw;
$x126: 6.563vw;
$x138: 7.188vw;
$x150: 7.813vw;
$x160: 8.333vw;
$x170: 8.854vw;
$x180: 9.375vw;
$x214: 11.146vw;
$x227: 11.823vw;
$x250: 13.021vw;
$x265: 13.802vw;
$x350: 18.229vw;
$x400: 20.833vw;
$x1560: 81.25vw;

//for 768px
$m2: 0.26vw;
$m3: 0.391vw;
$m4: 0.521vw;
$m5: 0.651vw;
$m6: 0.781vw;
$m8: 1.042vw;
$m10: 1.302vw;
$m12: 1.563vw;
$m14: 1.823vw;
$m15: 1.953vw;
$m16: 2.083vw;
$m18: 2.344vw;
$m20: 2.604vw;
$m21: 2.734vw;
$m22: 2.865vw;
$m23: 2.995vw;
$m24: 3.125vw;
$m26: 3.385vw;
$m27: 3.516vw;
$m28: 3.646vw;
$m30: 3.906vw;
$m32: 4.167vw;
$m33: 4.297vw;
$m34: 4.427vw;
$m35: 4.557vw;
$m36: 4.688vw;
$m38: 4.948vw;
$m40: 5.208vw;
$m42: 5.469vw;
$m44: 5.729vw;
$m45: 5.859vw;
$m46: 5.99vw;
$m48: 6.25vw;
$m49: 6.38vw;
$m50: 6.51vw;
$m52: 6.771vw;
$m53: 6.901vw;
$m54: 7.031vw;
$m56: 7.292vw;
$m57: 7.422vw;
$m60: 7.813vw;
$m61: 7.943vw;
$m64: 8.333vw;
$m66: 8.594vw;
$m70: 9.115vw;
$m72: 9.375vw;
$m76: 9.896vw;
$m78: 10.156vw;
$m80: 10.417vw;
$m82: 10.677vw;
$m84: 10.938vw;
$m85: 11.068vw;
$m88: 11.458vw;
$m90: 11.719vw;
$m95: 12.37vw;
$m96: 12.5vw;
$m100: 13.021vw;
$m103: 13.411vw;
$m108: 14.063vw;
$m110: 14.323vw;
$m118: 15.365vw;
$m138: 17.969vw;
$m149: 19.401vw;
$m155: 20.182vw;
$m158: 20.573vw;
$m168: 21.875vw;
$m184: 23.958vw;
$m186: 24.219vw;
$m188: 24.479vw;
$m235: 30.599vw;
$m250: 32.552vw;
$m277: 36.068vw;
$m416: 54.167vw;
$m584: 76.042vw;
$m616: 80.208vw;
$m708: 92.188vw;

//for 375px
$s2: 0.533vw;
$s3: 0.8vw;
$s4: 1.067vw;
$s5: 1.333vw;
$s6: 1.6vw;
$s8: 2.133vw;
$s9: 2.4vw;
$s10: 2.667vw;
$s12: 3.2vw;
$s13: 3.467vw;
$s14: 3.733vw;
$s15: 4vw;
$s16: 4.267vw;
$s17: 4.533vw;
$s18: 4.8vw;
$s20: 5.333vw;
$s21: 5.333vw;
$s22: 5.867vw;
$s23: 6.133vw;
$s24: 6.4vw;
$s26: 6.933vw;
$s27: 7.2vw;
$s28: 7.467vw;
$s30: 8vw;
$s32: 8.533vw;
$s33: 8.8vw;
$s34: 9.067vw;
$s35: 9.333vw;
$s36: 9.6vw;
$s39: 10.4vw;
$s40: 10.667vw;
$s42: 11.2vw;
$s44: 11.733vw;
$s46: 12.267vw;
$s48: 12.8vw;
$s49: 13.067vw;
$s50: 13.333vw;
$s52: 13.867vw;
$s54: 14.4vw;
$s56: 14.933vw;
$s57: 15.2vw;
$s60: 16vw;
$s62: 16.533vw;
$s68: 18.133vw;
$s75: 20vw;
$s76: 20.267vw;
$s78: 20.8vw;
$s85: 22.667vw;
$s100: 26.667vw;
$s102: 27.2vw;
$s103: 27.467vw;
$s106: 28.267vw;
$s118: 31.467vw;
$s149: 39.733vw;
$s345: 92vw;
$s496: 132.267vw;
