@import '@styles/helpers/all';

.smallDropdown {
  color: #ABAFB1;
  height: $x52;
  width: $x100;

  svg {
    fill: #636363;
    height: $x24 !important;
    width: $x24 !important;

    path {
      fill: #636363;
    }
  }

  :global {
    .select__control {
      padding: $x8 $x10 $x8 $x16;
    }
  }
}

@include media-breakpoint-down($w860) {
  .smallDropdown {
    height: $m52;
    width: $m100;

    svg {
      height: $m24 !important;
      width: $m24 !important;
    }

    :global {
      .select__control {
        padding: $m8 $m10 $m8 $m16;
      }
    }
  }
}

@include media-breakpoint-down($w600) {
  .smallDropdown {
    height: $s44;
    min-height: $s44;
    width: 24vw;

    svg {
      height: $s24 !important;
      width: $s24 !important;
    }

    :global {
      .select__control {
        height: $s44;
        min-height: $s44;
        padding: $s4 $s10 $s4 $s16;
      }
    }
  }
}
