@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/Jura-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Jura-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/Jura-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../public/fonts/Jura-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Tektur';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../../public/fonts/Tektur-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Tektur';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/Tektur-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../public/fonts/ubuntu-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../public/fonts/ubuntu-medium-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../public/fonts/ubuntu-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../../public/fonts/ubuntu-light-webfont.woff2') format('woff2');
}