@import '@styles/helpers/all';

.listBoxWrapper {
  background: linear-gradient(91deg, #909CFF -1.68%, #E270FF 116.85%);
  border-radius: $x4;
  font-size: $x18;
  overflow: hidden;
  padding: $x10 0;
  position: relative;

  button {
    position: relative;
    z-index: 100;
  }

  &::before {
    background: #0C0C0C;
    border-radius: $x4;
    bottom: 1px;
    content: '';
    height: unset;
    left: 1px;
    opacity: 1;
    position: absolute;
    right: 1px;
    top: 1px;
    width: unset;
  }

  .listBoxButton {
    @include dFlex();
    color: $mainWhite;
    font-size: $x18;
    gap: $x2;
    padding: 0 $x14 0 $x8;

    > svg {
      @include dFlex();
      height: $x24;
      width: $x24;
    }

  }

  .listBoxItem {
    @include transition();
    @include dFlex(center, flex-end);
    cursor: pointer;
    padding: $x4 $x16;
    position: relative;

    &::before {
      @include transition(opacity);
      background: linear-gradient(92deg, rgba(47, 85, 147, 0.12) 1.95%, rgba(47, 85, 147, 0) 98.05%);
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &:hover {
      color: #909CFF;

      &::before {
        opacity: 1;
        z-index: 1;

      }
    }


    &.active {
      background: linear-gradient(92deg, rgba(47, 85, 147, 0.12) 1.95%, rgba(47, 85, 147, 0) 98.05%);
    }
  }
}


@include media-breakpoint-down($w860) {
  .listBoxWrapper {
    border-radius: $m4;
    font-size: $m18;
    padding: $m10 0;
    position: relative;

    &::before {
      border-radius: $m4;
    }

    .listBoxButton {
      font-size: $m18;
      gap: $m2;
      padding: 0 $m14 0 $m8;

      > svg {
        height: $m24;
        width: $m24;
      }

    }

    .listBoxItem {
      padding: $m4 $m14;
    }
  }

}

@include media-breakpoint-down($w600) {
  .listBoxWrapper {
    border-radius: $s4;
    font-size: $s16;
    padding: $s6 0;
    position: relative;

    &::before {
      border-radius: $s5;
    }

    .listBoxButton {
      font-size: $s16;
      gap: $s2;
      padding: 0 $s12 0 $s6;

      > svg {
        height: $s24;
        width: $s24;
      }

    }

    .listBoxItem {
      padding: $s4 $s12;
    }
  }
}
