@import '@styles/helpers/all';

.box {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  min-height: var(--app-height);
  overflow: hidden;
  position: relative;

  &.admin {
    padding-bottom: $x112;
  }

  .nav {
    z-index: 1000;
  }

  .header {
    z-index: 110;
  }

  .main {
    flex: 1 0 auto;
    margin-left: $x180;
    margin-right: $x180;
    position: relative;
    z-index: 10;
  }

  .footer {
    flex: 0 0 auto;
    z-index: 0;
  }
}

@include media-breakpoint-down($w860) {
  .box {
    &.admin {
      padding-bottom: $m70;
    }

    .main {
      margin-left: $m30;
      margin-right: $m30;
    }
  }
}

@include media-breakpoint-down($w600) {
  .box {
    &.admin {
      padding-bottom: $s40;
    }

    .main {
      margin-left: $s16;
      margin-right: $s16;
    }
  }
}
